input[type="text"] {
  border: none;
  padding: 0.5em 1em;
  margin: 0 auto;
  width: 350px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  transition: none;
  color: $black;
  background: $stone;
  font-weight: 100;
  letter-spacing: 1px;
  padding: 1.75em 1.25em;
  float: right;
}

label {
  font-size: 1.25em;
  font-weight: 100;
  float: left;
  vertical-align: middle;
}

input[type="text"].cta {
  border: 0;
  float: none;
  padding: 1.75em 1.25em;
  font-size: 1.25em;
  margin: 0 auto;
  width: 600px;
  background: $stone;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: center;
}

::-webkit-input-placeholder {
   color: $black;
}

:-moz-placeholder { /* Firefox 18- */
  color: $black;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $black;
}

:-ms-input-placeholder {
  color: $black;
}
