body {
  text-align: center;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 3em;

  @media all and (max-width: $mobile) {
    font-size: 3.5em;
  }
}

h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 5.5em;

  @media all and (max-width: $mobile) {
    font-size: 3em;
  }
}

h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 4em;

  @media all and (max-width: $mobile) {
    font-size: 2.2em;
  }
}

h4 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 3em;
}

h5 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 4em;

  @media all and (max-width: $mobile) {
    font-size: 3em;
  }
}

h6 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 3em;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 1.2em;

  small {
    font-size: 0.8em;
  }

  @media all and (max-width: $mobile) {
    font-size: 1em;
  }
}

a {
  color: $orange;
}

a:hover, a:active, a:focus { color: $orange; opacity: 0.7; }

@media all and (max-width: 600px) {
  h2 {
    font-size: 2.2em;
  }

  h4 {
    font-size: 2em;
  }
}

label {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 2em;
  color: $white;
  [title="required"] { display: none; }
}
