.button {
  -webkit-appearance: none;
  outline: none;
  border-radius: 100px;
  background-color: $orange;

  &:hover {
    background-color: darken($orange, 5%);
  }
}

.button--light {
  background: $black;
  color: mix($stone, #333);
  &:hover {
    background-color: $white;
    color: $orange;
  }
}
