.button {
  -webkit-appearance: none;
  outline: none;
  padding: 0 0 10px 0;
  width: auto;
  background: none;
  font-weight: 100;
  font-size: 1.125em;
  letter-spacing: 1px;
  border-bottom: 2px solid $white;
  &:hover {
    border-bottom: 0;
    padding-bottom: 12px;
  }
}

.button--light {
  background: $black;
  color: mix($stone, #333);
  &:hover {
    background-color: $white;
    color: $brown;
  }
}
