footer.card {
  @extend .card;
  margin: 0 40px;
  padding: 10px 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: $color-text;
  a { color: $orange; }
  p {
    margin: 0;
  }
}

footer#site {
  min-height: 320px;
  background-image: url("/assets/penguin.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: -10px;
}
