header#site {
  @media all and (max-width: $mobile) {
    .row {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  h1 {
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-style: normal;
    background-repeat: no-repeat;
    background-position: center;
    //background-image: image-url("title.png");
    //width: 350px;
    min-height: 40px;
    //padding-top: 2.125em;
    text-align: center;
    display: block;
    margin: 0 auto;
    color: $white;
    //text-transform: uppercase;
    font-size: 2.25em;
    line-height: 1.4;
    font-weight: 200;
    letter-spacing: 2px;
    @media all and (max-width: $mobile) {
      //width: 280px;
      background-size: 100%;
      font-size: 1.75em;
      //padding-top: 3.125em;
    }
  }
}
