header#site {
  padding: 50px 0;
  h1 {
    font-weight: 400;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/assets/title.png");
    width: 350px;
    height: 249px;
    padding-top: 2em;
    text-align: center;
    display: block;
    margin: 0 auto;
    color: $black;
    text-transform: uppercase;
    font-size: 2.25em;
    line-height: 1.4;
    letter-spacing: 0.125em;
  }
}
