header#site {
  @media all and (max-width: $mobile) {
    .row {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  h1 {
    background-repeat: no-repeat;
    background-position: center;
    background-image: image-url("title.png");
    width: 350px;
    height: 249px;
    padding-top: 2.125em;
    text-align: center;
    display: block;
    margin: 0 auto;
    color: $black;
    text-transform: uppercase;
    font-size: 2.25em;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 2px;
    @media all and (max-width: $mobile) {
      width: 280px;
      background-size: 100%;
      font-size: 1.75em;
      padding-top: 3.125em;
    }
  }
}
