@import "core/typography";
@import "core/forms";

@import "object/card";

@import "ui/button";
@import "ui/card";
@import "ui/header";
@import "ui/footer";

@import "layout/core";

.box--orange {
  background: $orange;
  h1, h2 {
    color: $white;
  }
}

.row {
  padding: 50px 0;
}

#event--cover {
  .row {
    padding: 76px 0 110px;
    position: relative;
    h2 {
      margin: 0;
      padding: 1em 0;
      text-transform: uppercase;
      font-size: 3em;
      letter-spacing: 0.1em;
      font-weight: 600;
    }
    span.separator {
      width: 15%;
      display: block;
      border-bottom: 3px solid $orange;
      margin: 0 auto;
    }
    p {
      text-transform: uppercase;
      font-size: 1.85em;
      padding: 1.5em 0 0;
      font-weight: 100;
      letter-spacing: 0.1em;
    }
    p.small {
      text-transform: none;
      margin-top: 4em;
      font-size: 1em;
      margin-bottom: -5.5em;
      color: #696969;
    }
  }
}

#event--rsvp {
  .row {
    padding-bottom: 75px;
    h2 {
      padding: 1em 0 0.5em;
      font-size: 3em;
      font-weight: 100;
      line-height: 1.3;
      letter-spacing: 0.1em;
      margin: 0;
    }
    p.small {
      text-transform: none;
      margin-top: 0em;
      font-size: 1em;
      letter-spacing: 1px;
      color: #696969;
      font-weight: 100;
    }
  }
}

#rsvp {
  .row {
    padding: 112px 0 81px;
  }
  p.notice {
    color: #ffffff;
    font-weight: 100;
    margin: -0.5em 0 2em;
    letter-spacing: 1px;
  }
  h2 {
    font-weight: 100;
    color: #ffffff;
  }
  input[type="text"] {
    margin: 0 auto 1.5em;
  }
}

#rsvp_form {
  .error, .notice {
    color: $white;
    padding-bottom: 1em;
    font-weight: 100;
    letter-spacing: 1px;
  }
  form {
    max-width: 60%;
    margin: 0 auto -6em;
    .input {
      width: 100%;
      display: block;
      clear: both;
      padding-bottom: 2.5em;
      display: table;
      &.radio_buttons {
        padding-bottom: 1em;
        .control-label {
          min-width: 40%;
          display: inline-block;
          clear: left;
          width: auto;
          margin-right: 3em;
        }
        .radio {
          margin-top: 5px;
          display: inline-block;
          float: left;
          margin-left: 1em;
          input[type="radio"] {
            margin-right: 1em;
            position: relative;
            top: -2px;
          }
        }
      }
    }
    label {
      display: block;
      text-align:left;
      margin-bottom: 0.5em;
      width: 100%;
      font-weight: 100;
      font-size: 1.125em;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
      letter-spacing: 1px;
    }
    input[type="text"] {
      width: 100%;
    }
    .button {
      margin-top: 0.5em;
    }
  }
}

#location {
  .row {
    max-width: 100%;
    padding: 0;
  }
  .column {
    padding: 0;
    overflow: hidden;
  }
  .map {
    width: 100%;
    height: 507px;
    position: relative;
    top: 25px;
    margin-top: -25px;
  }
  .details {
    padding: 120px 5% 0 5%;
    address {
      font-size: 2em;
      font-style: normal;
      font-weight: 100;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    }
    span.separator {
      width: 15%;
      display: block;
      border-bottom: 2px solid $orange;
      margin: 40px auto;
    }
    .times {
      font-weight: 100;
      max-width: 400px;
      margin: 0 auto;
    }
  }
}
