@import "core/variables";
@import "core/typography";
@import "core/icons";

@import "object/card";

@import "ui/button";
@import "ui/card";
@import "ui/footer";

@import "layout/core";

.box--orange {
  background: $orange;

  h1 {
    color: $white;
  }
}

p {text-align: center;}
