@import "core/variables";
@import "core/typography";
@import "core/icons";

@import "object/card";

@import "ui/button";
@import "ui/card";
@import "ui/header";
@import "ui/footer";

@import "layout/core";

.box--orange {
  background: $orange;

  h1 {
    color: $white;
  }
}

#event--cover {
  padding: 75px 0 110px;
  h2 {
    margin: 0;
    padding: 1em 0;
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 0.1em;
    font-weight: 600;
  }
  span.separator {
    width: 15%;
    display: block;
    border-bottom: 3px solid $orange;
    margin: 0 auto;
  }
  p {
    text-transform: uppercase;
    font-size: 1.85em;
    padding: 1.5em 0 0;
    font-weight: 100;
    letter-spacing: 0.125em;
  }
}

#location {
  position: relative;
  background-size: cover;
  background-position: center top;
  height: 600px;
  p {
    color: $white;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(0, 0, 0, 0.6);
  }
}

.map {
  width: 100%;
  height: 360px;
}

.map--overlay {
  background: transparent;
  position: relative;
  width: 100%;
  height: 360px;
  top: 360px;
  margin-top: -360px;
  z-index: 1;
}

p {text-align: center;}
