h1 {
  padding: 25px 0 10px;
}

.content > h2 {
  font-size: 1.8em;
  margin-bottom: 15px
}

.content {
  margin-top: 30px;
}

.content table {
  width: 100%;
}

.column {
  padding-bottom: 20px;
}

input[type="checkbox"] {
  margin-right: 10px;
}
